body{
  margin: 10px 8% 10px 8%;
  background-color: #ffeff6;
}

input[type="number"] {
  width: 200px;
  padding: 10px;
  border: 2px solid #E95793;
  border-radius: 5px;
  font-size: 16px;
}

input[type="number"]:focus {
  width: 200px;
  border-color: #dc508b; /* Change the border color */
  box-shadow: 0 0 2px #d63779; /* Add a shadow when focused */
  background-color: #F0F0F0; /* Change the background color */
  color: #333; /* Change the text color */
  font-weight: bold; /* Modify the font weight */
  outline: none; /* Remove the default outline (blue border) */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
